@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);
/*  한국어 */
:lang(ko) {
  font-family: 'Noto Sans KR', sans-serif;
}
/* 일본어 */
:lang(ja) {
  font-family: 'Noto Sans JP', sans-serif;
}
/* 중국어 (간체) */
:lang(zh-Hans) {
  font-family: 'Noto Sans SC', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #111;
}

a {
    font-weight: 500;
    color: #36a;
}
a:hover, a:focus {
    text-decoration: none;
}

header, main, footer {
    padding: 16px;
}

@media screen and (min-width: 600px) {
    header, main, footer {
        padding: 8px;
    }
    .two-column {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start; 
    }
    .two-column .col-3 {
        width: calc(30% - 8px);
    }
    .two-column .col-7 {
        width: calc(70% - 8px);
    }
    .two-grid .col-3 {
        width: calc(33.33% - 5px);
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
}

header > div.wrapper,
main > div.wrapper,
footer > div.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background: #111;
    color: #fff;
}

header a.back2home {
    display: block;
    text-decoration: none;
    color: #fff;
}
header a.back2home:hover,
header a.back2home:focus {
    text-decoration: none;
}

header span {
    font-size: 2rem;
    font-weight: 600;
}

main {
    min-height: calc(100% - 6rem);
}

.two-column {
    display: display;
}

.col-3, .col-7 {
    width: 100%;
}
.two-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start; 
}
.two-grid .col-3 {
    width: 100%;
}

.bg-img {
    background-color: #999;
    background-position: center;
    background-size: cover;
    padding: 33% 0 0;
}

footer {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-size: 0.8rem;
    background: #aaa;
}

footer > div.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
}

footer a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
    margin-top: 0.6rem;
}